<button class="btn btn-primary float-right m-3" (click)="clearCart()">Empty your Cart</button>
<!-- <div class="row">
    <div class="card col-3 text-center" style="width: 18rem;" *ngFor="let product of items; index as i">
        <img class="card-img-top" src="/assets/img/{{ product.img }}" alt="Card Image">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }} $</p>
            <button class="btn btn-warning" routerLink="/">Back</button>
            <button class="btn btn-danger" (click)="removeItem(i)">Remove Product</button>
        </div>
    </div>
</div> -->
<div class="container">
	<table class="table table-hover table-dark">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Product</th>
	      <th scope="col">Quantity</th>
	      <th scope="col">Name</th>
	      <th scope="col">Price</th>
	      <th scope="col"><button class="btn btn-warning" routerLink="/productList">Back to Products</button></th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr *ngFor="let product of items; index as i">
	      <th scope="row"></th>
	      <td><img class="" src="/assets/img/{{ product.img }}" alt="Card Image"></td>
	      <td>{{ product.qtty }}</td>
	      <td>{{ product.name }}</td>
	      <td>{{ product.price }} $</td>
	      <td><button class="btn btn-danger" (click)="removeItem(i)">Remove Product</button></td>
	      <button class="plus"> + </button> <button class="minus"> - </button>
	    </tr>
	  </tbody>
	</table>
</div>